.home .logo {
    display: block;
    width: 150px;
    height: auto;
    margin: 50px auto;
}

.App {
    text-align: center;
    font-weight: 700;
}

.home h1 {
    color: #c60002;
    font-size: 70px;
    font-weight: 600;
}

.button {
    padding: 10px 40px;
    font-size: 18px;
    border: 3px solid #a9a9a9;
    border-radius: 10px;
    min-height: 10px;
    text-transform: uppercase;
    color: #c60002;
    float: right;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    min-width: 20px;
    margin-top: 30px;
    background-color: #fff;
    -webkit-box-shadow: 0 0 20px -5px rgba(0,0,0,.5);
    box-shadow: 0 0 20px -5px rgba(0,0,0,.5);
}

.pull-right {
    float: right;
}

.pull-left {
    float: left;
}

.col-xs-12 .title{
	font-size: 48px;
}