<div class="container" [hidden]="hidden">
	<h3>Форма 4</h3>
	<p>Осталось добавить {{valueIntervention1}} вмешательст</p>
	<form (ngSubmit)="onSubmit()" #interventionForm="ngForm">
		{{diagnostic}}
		<div class="form-group">
			<label for="nameIntervention">Наименование вмешательства</label>
			<input type="text" class="form-control" name="nameIntervention" required [(ngModel)]="intervention.nameIntervention" #nameIntervention="ngModel">
		</div>

		<div *ngIf="profitable" class="form-group">
			<label for="kommerceNameIntervention">Коммерческое наименование вмешательства (при наличии)</label>
			<input type="text" class="form-control" name="kommerceNameIntervention" required [(ngModel)]="intervention.kommerceNameIntervention" #kommerceNameIntervention="ngModel">
		</div>

		<div class="form-group">
			<label for="valueIntervention">Количество применений нелекарственного вмешательства, событий всего</label>
			<input type="number" step="any" class="form-control" name="valueIntervention" required [(ngModel)]="intervention.valueIntervention" #valueIntervention="ngModel">
		</div>

		<div class="form-group">
			<label for="refereceValueIntervention">Эталонное (установленное) количество применений нелекарственного вмешатльства</label>
			<input type="number" step="any" class="form-control" name="refereceValueIntervention" required [(ngModel)]="intervention.refereceValueIntervention" #refereceValueIntervention="ngModel">
		</div>

		<div *ngIf="profitable" class="form-group">
			<label for="price">Цена фактического количества применений конкретного нелекарственного вмешательства, рублей</label>
			<input type="number" step="any" class="form-control" name="price" required [(ngModel)]="intervention.price" #price="ngModel">
		</div>

		<div *ngIf="profitable" class="form-group">
			<label for="priceReference">Цена эталонного (установленного) количества применений нелекарственного вмешательства, рублей</label>
			<input type="number" step="any" class="form-control" name="priceReference" required [(ngModel)]="intervention.priceReference" #priceReference="ngModel">
		</div>

		<button  [disabled]="!interventionForm.form.valid" type="submit" class="btn btn-success">Продолжить</button>
		<button type="submit" class="btn btn-success">Пропустить этот раздел и продолжить</button>
	</form>
</div>
<result #ResultComponent [hidden]="sentHidden"></result>