.ng-valid[required], .nf-valid.reqired {
	border-left: 5px solid #42A948;
}

.ng-invalid:not(form) {
	border-left: 5px solid #a94442;
}

.form__respondent {
	margin-bottom: 0;
}

.form__sex {
	padding: 0 10px;
}